@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Playfair+Display+SC&display=swap');

/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

/* font-family: 'Playfair Display', serif; */