/* CONTAINER */

.contain{
	width: 100%;
	max-width: 980px;
	display: flex;
	margin: 0 auto;
	flex-flow: column wrap;
	place-content: center;
}

/* CONTANINER */

/* HEADER */

.header{
	width: 99%;
	justify-content: center;
	place-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
}

.profile-img{
	width: 100%;
	max-width: 150px;
}

.profile-img img{
	width: 99%;
	border-radius: 16px;
}

.profile-name{
	width: auto;
	margin: 0 auto;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
}

.profile-name h1{
	font-size: 24px;
	color: #4E5150;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.profile-name h2{
	font-size: 14px;
	color: #A9A9A9;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.profile-stats{
	width: 100%;
	max-width: 390px;
	margin: 0 auto;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row wrap;
	justify-content: center;

}

.profile-stats div{
	cursor: pointer;
	background: #E5E5E5;
	margin: 0px 10px;
	width: 100%;
	max-width: 100px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	border-radius: 12px;
}

.profile-stats h3{
	font-size: 14px;
	color: #4E5150;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.profile-stats p{
	font-size: 10px;
	color: #BDBDBD;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

/* HEADER */


/* SECTION 1 */

/* MAIN */

.main{
}

.section1{
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	width: 99%;
	margin: 0 auto;
}

.cont-section-1{
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 99%;
	margin: 0 auto;
}

.cont-section-1>div:nth-child(1){
	width: 100%;
	max-width: 300px;
}

.cont-section-1>div:nth-child(2){
	width: 100%;
	max-width: 630px;
}

.cont-section-1>div img:nth-child(1){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

.cont-section-1>div img:nth-child(2){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

/* SECTION 1 */

/* SECTION 2 */

.section1{
	margin-top: 45px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	width: 99%;
}

.cont-section-1{
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 99%;
	margin: 0 auto;
}

.cont-section-1>div:nth-child(1){
	width: 100%;
	max-width: 300px;
}

.cont-section-1>div:nth-child(2){
	width: 100%;
	max-width: 630px;
}

.cont-section-1>div img:nth-child(1){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

.cont-section-1>div img:nth-child(2){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

/* GLOBE */

.globe{
	display: flex;
	flex: 1 1 auto;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
}

/* GLOBE */


/* SECTION 2 */

.section2{
	margin: 45px 0px 0px 0px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	width: 99%;
	max-width: 645px;
}

.cont-section-2{
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 99%;
	margin: -25px 0px 0px 9.5px;
}

.cont-section-2>div:nth-child(1){
	width: 100%;
	max-width: 630px;
}

.cont-section-2>div:nth-child(2){
	width: 100%;
	max-width: 300px;
	margin: 22.5px -5px 0px 0px;
}

.cont-section-2>div:nth-child(3){
	width: 100%;
	max-width: 300px;
	margin: 22.5px 10px 0px -5px;
}

.cont-section-2>div img:nth-child(1){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

.cont-section-2>div img:nth-child(2){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

.cont-section-2>div img:nth-child(3){
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

/* SECTION 2 */

/* SECTION 3 */

.section3{
	margin: 45px 0px 0px 0px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	width: 99%;
	max-width: 305px;
}

.cont-section-3{
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 99%;
	margin: -25px 0px 0px -5px;
}

.cont-section-3>div{
	width: 100%;
	max-width: 630px;
}

.cont-section-3>div img{
	width: 100%;
	height: 98.6%;
	border-radius: 12px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}


/* SECTION 3 */

/* MAIN */

/* MEDIAS */

@media(max-width:955px){
	.section2{
	margin-top: 45px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column wrap;
	width: 90%;
	max-width: 1000px;
}
}

@media(max-width:955px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 30%;
		margin-top: 25px;
	}
	.cont-section-3>div:nth-child(1){
		width: 86%;
		margin: 0px;
	}
}

@media(max-width:820px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 32%;
		margin: 25px 0px 0px 3px;
	}
	.cont-section-3>div:nth-child(1){
		width: 86%;
		margin: 0px;
	}
}

@media(max-width:768px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 34%;
		margin: 25px 0px 0px 2px;
	}
	.cont-section-3>div:nth-child(1){
		width: 86%;
		margin: 0px;
	}
}

@media(max-width:540px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px 0px 0px -4px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px 10px 0px 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 30%;
		margin: 25px 0px 0px 0px;
	}
	.cont-section-3>div:nth-child(1){
		width: 62.7%;
		margin: 0px 0px 0px -5px;
	}
}

@media(max-width:412px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 46%;
		margin: 25px 0px 0px 2px;
	}
	.cont-section-3>div:nth-child(1){
		width: 62%;
		margin: 0px;
	}
}

@media(max-width:376px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
	}
	.cont-section-2>div:nth-child(3){
		width: 40%;
	}
	.cont-section-3>div:nth-child(1){
		width: 50%;
	}
}

@media(max-width:360px){
	.cont-section-1>div:nth-child(1){
		width: 30%;
		margin: 0px;
	}
	.cont-section-1>div:nth-child(2){
		width: 62.7%;
		margin: 0px;
	}
	.cont-section-2>div:nth-child(1){
		width: 62.7%;
		margin: 0px 0px 0px -5px;
	}
	.cont-section-2>div:nth-child(2){
		width: 30%;
		margin: 0px 10px 0px 0px;
	}
	.cont-section-2>div:nth-child(3){
		width: 46%;
		margin: 25px 0px 0px -5px;
	}
	.cont-section-3>div:nth-child(1){
		width: 52%;
		margin: 0px 0px 0px -5px;
	}
}

/* MEDIAS */

/* JS */

.over{
	position: absolute;
	width: 100%;
	max-width: 300px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}
.over.open{
	visibility: visible;
	opacity: 1;
}

.over2{
	position: absolute;
	width: 100%;
	max-width: 630px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}

.over2.open{
	visibility: visible;
	opacity: 1;
}

.over3{
	position: absolute;
	width: 100%;
	max-width: 630px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}

.over3.open{
	visibility: visible;
	opacity: 1;
}

.over4{
	position: absolute;
	width: 100%;
	max-width: 300px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}

.over4.open{
	visibility: visible;
	opacity: 1;
}

.over5{
	position: absolute;
	width: 100%;
	max-width: 300px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}

.over5.open{
	visibility: visible;
	opacity: 1;
}

.over6{
	position: absolute;
	width: 100%;
	max-width: 300px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .7);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: .3s;
}

.over6.open{
	visibility: visible;
	opacity: 1;
}

@media(max-width:960px){
	.over{
		display: none;
	}
	.over2{
		display: none;
	}
	.over3{
		display: none;
	}
	.over4{
		display: none;
	}
	.over5{
		display: none;
	}
	.over6{
		display: none;
	}

}

/* JS */

